@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}

                        /* section photogragres page d'accueil */
.photographer_card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 4em;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25em;
    margin-bottom: 0;
    margin-top: 0.4em;
}
.photographer_card {
    margin: 0 0 3px;
    text-align: center;
}
.photographer_card p:nth-of-type(1) {
    margin-top: 0.625em;
    color: #901C1C;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}
.photographer_card p:nth-of-type(2) {
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;  
}
.photographer_card p:nth-of-type(3) {
    color: #525252;
    margin: 0;
}
.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}